body{
    background-color: black;
    user-select: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div{
    caret-color: white;
}

#search{
    width: 360px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    background-color: #3A3B3C;
    border: 0px;
    padding-left: 60px;
    color: white;
    font-family: calibri;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: text;
    margin-top: 200px;
    padding-right: 12px;
}

#search:hover{
    background-color: #45484b;
}

::selection{
    background: rgb(155, 10, 155);
    color: white;
}

::placeholder{
    color: #a2a9b3;
}

input:focus::placeholder{
    opacity: 0.4;
}

img{
    cursor: pointer;
    border-radius: 40px;
    filter: opacity(30%);
    transition-duration: 0.4s;
    position: fixed;
    top: 218px;
    margin-left: 10px;
}

img:hover{
    filter: opacity(80%);
}